name: centos-base

on:
  push:

jobs:
  packer:
    runs-on: ubuntu-latest
    name: packer

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      # fix backwards incompatibilities in template
      - name: Fix Template
        uses: operatehappy/packer-github-actions@master
        with:
          command: fix
          target: centos-base.json

      # validate templates
      - name: Validate Template
        uses: operatehappy/packer-github-actions@master
        with:
          command: validate
          arguments: -syntax-only
          target: centos-base.json
      - name: echo pwd
        run: echo $PWD

      # build artifact
      - name: Build Artifact
        uses: ./.github/actions/packer/
        env:
          UPCLOUD_API_PASSWORD: ${{ secrets.UPCLOUD_API_PASSWORD }}
          UPCLOUD_API_USER: ${{ secrets.UPCLOUD_API_USER }}
        with:
          command: build
          arguments: "-color=false -on-error=abort"
          target: centos-base.json
