name: 'Upcloud DE-FRA1 CentOS 8 HashiStack'

on:
  push:

env:
  ORG_NAME: servicecontrol
  REPO_NAME: packer-builds
  IMAGE_NAME: packer
  REGISTRY: ghcr.io
  UPCLOUD_API_PASSWORD: ${{ secrets.UPCLOUD_API_PASSWORD }}
  UPCLOUD_API_USER: ${{ secrets.UPCLOUD_API_USER }}
  UPCLOUD_ZONE: "de-fra1"
  PACKER_CONFIG_DIR: /opt
  PACKER_LOG: 1
  PACKER_LOG_PATH: packer-logs

jobs:
  build_container_image:
    name: 'Packer container image'
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2.3.2

      - name: Build & push Container image
        uses: mr-smithers-excellent/docker-build-push@v4
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PAT }}
          registry: ${{ env.REGISTRY }}
          image: ${{ env.ORG_NAME/env.REPO_NAME/env.IMAGE_NAME }}
          tag: latest
          githubOrg: ${{ env.ORG_NAME }}
          directory: container-image/packer

  centos_base:
    runs-on: ubuntu-latest
    needs: build_container_image
    name: 'Upcloud CentOS 8 Base'

    env:
      PACKER_TARGET: "upcloud-$UPCLOUD_ZONE-centos-8-base.json"

    outputs:
      uuid: ${{ steps.uuid.outputs.uuid }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Fix Packer Template
        uses: operatehappy/packer-github-actions@master
        with:
          command: fix
          target: "$PACKER_TARGET"

      - name: Validate Packer Template
        uses: operatehappy/packer-github-actions@master
        with:
          command: validate
          arguments: -syntax-only
          target: $PACKER_TARGET
     
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: $REGISTRY
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_PAT }}

      - name: Pull image
        run: docker pull $IMAGE_URI

      - name: Store SSH keys
        env:
          PUB: "${{ secrets.PUBLIC_SSH_KEY }}" 
          PRI: "${{ secrets.PRIVATE_SSH_KEY }}"
        run: | 
          echo "$PUB" > id_rsa.pub
          echo "$PRI" > id_rsa

      - name: Build CentOS VM
        uses: ./.github/actions/packer/
        with:
          command: build
          arguments: "-color=false -on-error=abort"
          target: $PACKER_TARGET

      - name: Find and export storage UUID
        id: uuid
        run: |
          uuid=$(cat packer-logs | grep 'upcloud: Private' | cut -d ' ' -f 9 | cut -d ',' -f 1)
          echo "::set-output name=uuid::$uuid"

  vault:
    runs-on: ubuntu-latest
    needs: [build_container_image, centos_base]
    name: 'Upcloud CentOS 8 Vault'

    env:
       PACKER_TARGET: "upcloud-$UPCLOUD_ZONE-centos-8-vault.json"

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Fix Packer Template
        uses: operatehappy/packer-github-actions@master
        with:
          command: fix
          target: $PACKER_TARGET

      - name: Validate Packer Template
        uses: operatehappy/packer-github-actions@master
        with:
          command: validate
          arguments: -syntax-only
          target: $PACKER_TARGET

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: $REGISTRY
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_PAT }}

      - name: Pull image
        run: docker pull $IMAGE_URI

      - name: Store SSH keys
        env:
          PUB: "${{ secrets.PUBLIC_SSH_KEY }}" 
          PRI: "${{ secrets.PRIVATE_SSH_KEY }}"
        run: | 
          echo "$PUB" > id_rsa.pub
          echo "$PRI" > id_rsa

      - name: Build CentOS VM
        uses: ./.github/actions/packer/
        with:
          command: build
          arguments: "-color=false -on-error=abort -var STORAGE_UUID=${{ needs.centos_base.outputs.uuid }}"
          target: $PACKER_TARGET

      - name: Export Storage UUID
        run: "cat packer-logs | grep 'upcloud: Private' | cut -d ' ' -f 9 | cut -d ',' -f 1 > upcloud-$UPCLOUD_ZONE-centos-8-vault-image-uuid"

      - name: Upload UUID as Github artifact 
        uses: actions/upload-artifact@v2
        with:
          name: upcloud-$UPCLOUD_ZONE-centos-8-vault-image-uuid
          path: ./upcloud-$UPCLOUD_ZONE-centos-8-vault-image-uuid

